.hover_color  {
    height: 100%;
    .hover_color_bg {
        height: 100%;
    }
}
#contactWrapper input {
    height: auto;
}

.button-custom input[type="submit"] {
    width: 100%;
    margin-bottom: 0!important;
}
#alert {
    overflow: hidden;
    padding: 0;
    margin-bottom: 0;
}

.form-check-label {
    p {
        font-size: 14px;
        color: white;
    }
}
#alert p {

    text-align: center;
    line-height: 2;
    padding: 0;
    margin: 1rem 0 0 0;
    width: 100%;
    background: #00a34f;
    color: white;
    overflow: hidden;
}
.g-recaptcha >div{
    margin: 0 auto 1rem;
}
@media(max-width: 600px){
    .g-recaptcha {
        transform: scale(.75);
    }
}

.subHeader {
    position: relative;
    img {
        display: block;
        width: 100%;
    }
    .container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;

        h1 {
            color: white;
            transform: translateY(50%);
            @media(max-width: 1240px){
                transform: translateY(0);
            }
            @media(max-width: 960px){
                font-size: 70px;
            }
            @media(max-width: 767px){
                font-size: 55px;
            }
            @media(max-width: 530px){
                font-size: 40px;
            }
            @media(max-width: 400px){
                font-size: 30px;
            }
        }
    }
}

.offerTitle {
    @media(max-width: 767px){
        font-size: 25px!important;
    }
    @media(max-width: 520px){
        line-height: 1.2!important;
    }
}

.gallery  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.map {
    display: flex;
    align-items: center;
    height: 100%;
    @media(max-width: 767px){
        padding-bottom: 2rem;
    }
}

.galleryIndex {
    @media(max-width: 960px){
        padding: 90px 0!important;
    }
    @media(max-width: 767px){
        padding: 50px 0 !important;
    }
}

