.hover_color {
  height: 100%;
}
.hover_color .hover_color_bg {
  height: 100%;
}
#contactWrapper input {
  height: auto;
}
.button-custom input[type="submit"] {
  width: 100%;
  margin-bottom: 0!important;
}
#alert {
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
}
.form-check-label p {
  font-size: 14px;
  color: white;
}
#alert p {
  text-align: center;
  line-height: 2;
  padding: 0;
  margin: 1rem 0 0 0;
  width: 100%;
  background: #00a34f;
  color: white;
  overflow: hidden;
}
.g-recaptcha > div {
  margin: 0 auto 1rem;
}
@media (max-width: 600px) {
  .g-recaptcha {
    transform: scale(0.75);
  }
}
.subHeader {
  position: relative;
}
.subHeader img {
  display: block;
  width: 100%;
}
.subHeader .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.subHeader .container h1 {
  color: white;
  transform: translateY(50%);
}
@media (max-width: 1240px) {
  .subHeader .container h1 {
    transform: translateY(0);
  }
}
@media (max-width: 960px) {
  .subHeader .container h1 {
    font-size: 70px;
  }
}
@media (max-width: 767px) {
  .subHeader .container h1 {
    font-size: 55px;
  }
}
@media (max-width: 530px) {
  .subHeader .container h1 {
    font-size: 40px;
  }
}
@media (max-width: 400px) {
  .subHeader .container h1 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .offerTitle {
    font-size: 25px!important;
  }
}
@media (max-width: 520px) {
  .offerTitle {
    line-height: 1.2 !important;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.map {
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 767px) {
  .map {
    padding-bottom: 2rem;
  }
}
@media (max-width: 960px) {
  .galleryIndex {
    padding: 90px 0!important;
  }
}
@media (max-width: 767px) {
  .galleryIndex {
    padding: 50px 0 !important;
  }
}
